{# Formulaire twig #}
{{ form_start(form) }}
{# Possibilité de modifier dans le formulaire l'affichage, à l'interieure des balises twig start et end #}
    {{ form_widget(form) }}
{# Vérification de la route "annonces_edit" on affiche les images#}
        {% if app.request.attributes.get('_route') == 'annonces_edit' %} 
            <h2>Vos images</h2>
                <div class="container d-flex justify-content-around">
                    {% for image in annonce.images %}
{# photos #}
                        <img src="{{ asset('/uploads/' ~ image.name) }}" alt="Image" width="150" height="auto">
{# Button supprimer des photos #}
                        <p class="align-self-center">
                            <a href="{{ path('annonces_delete_images', {id: image.id}) }}"
                            data-delete data-token="{{ csrf_token('delete' ~ image.id) }}" class="btn btn-warning">
                            Supprimer</a>
                        </p>
                    {% endfor %}
                </div>
        {% endif %}
    
    <p class="button">
{# button du formulaire #}
        <button class="btn btn-success">{{ button_label|default('Déposer votre annonce') }}</button>
    </p>

{{ form_end(form) }}
