<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        
		{% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
{# Bootswatch Cyborg  #}
	<link rel="stylesheet" href="https://bootswatch.com/4/cyborg/bootstrap.min.css">
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>

{############################################ NAVBAR ##############################################}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
{# Titre site #}
				<a class="navbar-brand">
					RBN'B
				</a>
{# toggler icon !!!! PARAMETER !!!! #}	
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="# navbarColor02" aria-controls="navbarColor02" aria-extended="false" aria-label="Basculer la navigation ">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarColor02">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
{# chemin accédant a la page ZONE de notre site (interpolation de l'URL) #}
				<a class="nav-link" href="{{ path('index') }}">
					Home
				</a>
			</li>
			
			<li class="nav-item">
{# chemin accédant a la page HOME de notre site (interpolation de l'URL) #}
				<a class="nav-link" href="{{ path('home') }}">
					Qui sommes nous ?
				</a>
			</li>

{#### Boucle d'affichage du button dans navbar ####}
			{% if not app.user %}
            <li class='nav-item'>
{# Affichage du lien dans la navbar (interpolation de l'URL) #}
                <a href="{{ path('security_login') }}" class="nav-link">
					Connexion
				</a>
            </li>
            {% else %}
            <li class='nav-item'>
    {# Affichage du lien dans la navbar (interpolation de l'URL) #}
                <a href="{{ path('security_logout') }}" class="nav-link">
					Déconnexion
				</a>
            </li>
            {% endif %}

			<li class="nav-item">
{# chemin accédant a la page ANNONCES de notre site (interpolation de l'URL) #}
				<a class="nav-link" href="{{ path('annonces_index') }}">
					Déposer votre annonce
				</a>
			</li>

			{% if is_granted('ROLE_USER') %}
			<li class="nav-item">
{# chemin accédant a la page PROFIL de notre site si un utilisateur est connecter alors affichage du link profil (interpolation de l'URL) #}
				<a class="nav-link" href="#" tabinex="-1" aria-disabled="true">
					PROFIL
				</a>
			</li>
			{% endif %}
			{% if is_granted('ROLE_ADMIN') %}
			<li class="nav-item">
{# chemin accédant a la page ADMIN de notre site si un admin est connecter alors affichage du link admin (interpolation de l'URL) #}
				<a class="nav-link" href="{{ path('admin_utilisateurs') }}" tabinex="-1" aria-disabled="true">
					ADMIN
				</a>
			</li>
			{% endif %}
		</ul>
	</div>
</nav>

{############################################# BODY ###############################################}
<div class='container' style="margin-top:30px; margin-bottom:30px; padding:15px; border:1px solid white; border-radius:15px">

    {% block body %}
            
    {% endblock %}
</div>

{############################################ FOOTER ##############################################}
<div class="jumbotron">
{# title footer #}
    <p class='bloc text-center'>Qui sommes-nous ?</p>

{## bloc all ##}
    <div class='container-fluid'>
  {# bloc left #}
        <div class="bloc d-flex">
            <div class='container'>
                <h3 class='title text-center'>Left</h3>
            </div>

  {# bloc center #}
            <div class='container'>
                <h3 class='title text-center'>Middle</h3>
            </div>

  {# bloc right #}
            <div class='container'>
                <h3 class='title text-center'>Right</h3>
            </div>
        </div>
    </div>

{# Copyright #}
    <p class='bloc text-center'>Copyright © 2021 Just AI™. Tous droits réservés.</p>
	
	</body>
</html>
